<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Identification</th>
        <th scope="col">Email</th>
        <th scope="col">Student ID</th>
        <th scope="col">Date of Request Submission</th>
        <th scope="col">Lecturer Reply</th>
        <th scope="col">Request Type</th>
        <th scope="col">Respond</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="requ :${requis}">
        <div  th:if="${requ.lecturerResponse == 'PENDING'}">
        <th scope="row" th:text="${requ.ident}" ></th>
        <td th:text="${requ.email}"></td>
        <td th:text="${requ.studentId}"></td>
        <td th:text="${requ.submittedOn}"></td>
        <td th:text="${requ.lecturerResponse}"></td>
        <td th:text="${requ.typeOfRequest}"></td>
            <td><a th:href="@{/requis/{requiId}/edit(requiId=${requ.ident})}" class="view-link">Respond</a></td>
        </div>
    </tr>
    </tr>

    </tbody>
</table>

</body>
</html>